body{
    background-image: url("payment.png");
    align-content: center;
    margin-left: 250px;
    margin-right: 200px;
}
h5{
    font-size: 50px;
    color:gray;
}
#form{
    padding: 2% 30% ;
    border: 0px solid white;
    margin: 2px;
    font-size: 25px;
}
div{
    padding: 0% 30% 0%;
    font-size: 35px;
}
#amnt{
    padding: 0% 30%;
    font-size: 35px;
}